USE [master]
GO
/****** Object:  Database [DBFoods]    Script Date: 01/16/2021 11:31:29 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DBFoods')
BEGIN
CREATE DATABASE [DBFoods] ON  PRIMARY 
( NAME = N'DBFoods', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBFoods.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBFoods_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBFoods_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFoods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFoods]
GO
/****** Object:  Table [dbo].[Pelanggan]    Script Date: 01/16/2021 11:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pelanggan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pelanggan](
	[ID_Pelanggan] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](40) NOT NULL,
	[Telepon] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pelanggan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Pelanggan] ON
INSERT [dbo].[Pelanggan] ([ID_Pelanggan], [Nama], [Telepon]) VALUES (1, N'Pelanggan 2', N'0812182879')
SET IDENTITY_INSERT [dbo].[Pelanggan] OFF
/****** Object:  Table [dbo].[Karyawan]    Script Date: 01/16/2021 11:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Karyawan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Karyawan](
	[ID_Karyawan] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](40) NOT NULL,
	[Umur] [tinyint] NOT NULL,
	[Telepon] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Karyawan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Barang]    Script Date: 01/16/2021 11:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Barang]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Barang](
	[ID_Barang] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](40) NOT NULL,
	[Harga] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Barang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Barang] ON
INSERT [dbo].[Barang] ([ID_Barang], [Nama], [Harga]) VALUES (1, N'Pisang', 5000)
SET IDENTITY_INSERT [dbo].[Barang] OFF
/****** Object:  Table [dbo].[Penjualan]    Script Date: 01/16/2021 11:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Penjualan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Penjualan](
	[ID_Penjualan] [int] IDENTITY(1,1) NOT NULL,
	[ID_Barang] [int] NULL,
	[Tanggal] [date] NOT NULL,
	[Jumlah] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Penjualan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Penjualan] ON
INSERT [dbo].[Penjualan] ([ID_Penjualan], [ID_Barang], [Tanggal], [Jumlah]) VALUES (2, 1, CAST(0x583B0B00 AS Date), 20)
INSERT [dbo].[Penjualan] ([ID_Penjualan], [ID_Barang], [Tanggal], [Jumlah]) VALUES (7, 1, CAST(0x0D420B00 AS Date), 10)
SET IDENTITY_INSERT [dbo].[Penjualan] OFF
/****** Object:  ForeignKey [FK__Penjualan__ID_Ba__0CBAE877]    Script Date: 01/16/2021 11:31:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Penjualan__ID_Ba__0CBAE877]') AND parent_object_id = OBJECT_ID(N'[dbo].[Penjualan]'))
ALTER TABLE [dbo].[Penjualan]  WITH CHECK ADD FOREIGN KEY([ID_Barang])
REFERENCES [dbo].[Barang] ([ID_Barang])
GO
